TOOL_NEURON_BASE_URL=http://PHONE-IP:11434/v1
TOOL_NEURON_API_KEY=
TOOL_NEURON_CHAT_MODEL=
TOOL_NEURON_STT_MODEL=
TOOL_NEURON_TTS_MODEL=
TOOL_NEURON_TTS_VOICE=amy
TOOL_NEURON_MAX_TOKENS=384
BUDDY_MAX_RESPONSE_CHARS=1600
PUBLIC_BASE_URL=http://PC-IP:3000
USE_CLOUD_FALLBACKS=0
PORT=3000
